---
layout: base
---

<div class="splash">
  <div>
    <img src="assets/images/logo.svg"/>
    <div>
      Hi, I'm a Systems Design Engineering Student at the University of Waterloo. I love
      to design and develop solutions for the problems that affect us all.
    </div>
  </div>
</div>

{% include navbar.html %}

<div class='parent-container' style='height: 1000px; '>
  <div class='container'>
    <span class='home-heading'> Posts </span>
    <div>
      <a href="{{ site.posts[0].url | absolute_path }}"> {{ site.posts[0].title }} </a>
    </div>

    <span class='home-heading'> Projects </span>
    {% for project in site.projects %}
      <li>
        <a href="{{ project.url | absolute_path }}"> {{ project.title }} </a>
      </li>
    {% endfor %}
  </div>
</div>
