{% if include.project.eurl %}
  {% assign url = include.project.eurl %}
{% else %}
  {% assign url = include.project.url %}
{% endif %}

{% if include.project.button_text %}
  {% assign button_text = include.project.button_text %}
{% else %}
  {% assign button_text = "Read More" %}
{% endif %}

<div class="col">
  <div class="card h-100">
    <img class="card-img-top" src="{{ include.project.thumbnail }}" alt="{{ include.project.title }} thumbnail">
    <div class="card-body">
      <h5 class="card-title">{{ include.project.title }}</h5>
      <p class="card-text">{{ include.project.description }}</p>
      <div>
        <a href="{{ url }}">{{ button_text }}<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
