.splash {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 500px;
  max-height: 80vh;
  z-index: -1;
  display: flex;
  align-items: center;

  background-color: black;
  color: $theme-important;

  text-align: center;

  > div {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  img {
    width: 100%;
  }
}

.parent-container {
  background: $theme-bg;
  height: 100%;
  border-top: 3px solid $theme-bg;
  margin-top: -3px;
}

.home-heading {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 15px 0;

  color: $theme-bg;
  background: $theme-fg;
  text-shadow: 1px 1px 0 $theme-accent;

  font-size: 2rem;
  font-weight: 700;
}

.anchor {
  height: 2rem;
  content: " ";
  display: block;
  position: absolute;
  top: -60px;
}

.card-row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;

    .card {
      background-color: $theme-fg;
      color: $theme-bg;

      border-radius: 0;
      border: 2px solid $theme-fg;

      img.card-img-top {
        border-radius: 0;
      }

      .card-title {
        font-weight: 700;
        color: $theme-important;
      }

      .card-body {
        display: flex;
        flex-direction: column;

        div:last-child {
          margin-top: auto;
          display: flex;
          justify-content: flex-end;

          a {
            color: $theme-important;
            font-weight: 600;
            text-decoration: none;

            i {
              margin-left: 0.3em;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

#resume-embed {
  padding: 10px;
  border: 10px solid $theme-fg;
  position: relative;
  margin-bottom: 1rem;

  a {
    background-color: $theme-fg;
    color: $theme-important;
    font-weight: 600;

    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px 10px 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
}

#contact-form {
  font-weight: 600;

  label {
    background-color: $theme-fg;
    color: $theme-bg;

    margin-bottom: 0px;
    padding: 5px 10px;
  }

  input[type='text'], input[type='email'], textarea {
    border-radius: 0;
    border: 5px solid $theme-fg;
    height: unset;
    padding: 10px;
    margin-bottom: 15px;

    box-shadow:none;

    &:focus {
      outline: 2px solid $theme-focus;
      outline-offset: -7px;
    }

  }

  textarea {
    height: 200px;
  }

  input[type='submit']{
    color: $theme-important;
    background-color: $theme-fg;
    font-weight: 600;
    border-radius: 0;

    &:focus {
      color: $theme-focus;
      box-shadow: none;
    }
  }
}
