$theme-fg: #000000;
$theme-bg: #ffffff;
$theme-focus: #00ffff;
$theme-important: #ffff00;
$theme-accent: #ff00ff;

@import "navbar";
@import "index";
@import "project-post";

body {
  font-family: 'Raleway', sans-serif;
}

#copyright {
  margin-top: 2em;
  font-size: 0.75em;
  text-align: center;
}

.btn.btn-dark {
  color: $theme-important !important;
  border-radius: 0;
}
