.home-heading{
  text-align: center;
  h2 {
    display: inline-block;
    color: white;
    background: black;
    padding: 5px 10px;
  }
}

#copyright {
  font-size: 0.75em;
  text-align: center;
}
